langgraph
langsmith
langchain
langchain-openai
langchain-core
ipykernel
python-dotenv
langchain-tavily
langgraph-cli[inmem]
langchain-anthropic
langchain-community
beautifulsoup4
rich
langgraph_bigtool
langgraph_supervisor
langgraph_prebuilt
notebook
